@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

@import "tailwindcss";

@layer components {
  .font-playfair-medium {
    font-family: var(--font-playfair-medium);
  }
  .font-playfair-regular {
    font-family: var(--font-playfair-regular);
  }
  .font-playfair-italic {
    font-family: var(--font-playfair-italic);
  }
}
